.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.unit {
  font-size: 12px;
  color: var(--text-secondary);
}