.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 600;
  flex-shrink: 0;
  overflow: hidden;
  user-select: none;
}

/* variants */
.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 16px; 
}